
<%= form_for @note, :html => { :class => 'form' } do |f| %>

  <div class="control-group row">
  		<div class="pull-right">
		    <%= link_to "Cancel", :back, :class=>"btn" %>
			 <%= f.submit nil, :class => 'btn btn-primary' %>
	 </div>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'span8', :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :title, :class => 'span8', :rows=>1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'span8', :rows=>10 %>
    </div>
  </div>
  <div class="control-group row">
  		<div class="pull-right">
		    <%= link_to "Cancel", :back, :class=>"btn" %>
			 <%= f.submit nil, :class => 'btn btn-primary' %>
	 </div>
  </div>
<% end %>