
<%= form_for @note, :html => { :class => 'form' } do |f| %>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'span9', :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :title, :class => 'span9', :rows=>2 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'text_area span9', :rows=>15 %>
    </div>
  </div>
  <div class="modal-footer">
	    <%= link_to "Cancel", :back, :class=>"btn" %>
	    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>