<%= form_for @note, :html => { :class => 'form' } do |f| %>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div></br>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field', :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :cols => 10 %>
    </div>
  </div>
<% end %>
