<table class="table">
<% @notes.each do |note| %>
	<tr>
		<td>
			<div class="item_left hidden-phone">
				<%= check_box_tag "note_ids[]", note.id %>				
			</div>	
		</td>	
		<td>
			<div class="hidden-phone help_links">
				<%= link_to note, :remote=>true, :title=>"Preview" do %>
					<i class="icon-eye-open"></i>
				<% end %>	
				<% if note.link.to_s != "" %>
					<%= link_to url_with_protocol(note.link), :target => "_blank" ,
					 :title=>"Link to "+note.link do %>
						<i class="icon-share-alt" ></i>
					<% end %>	
				<% end %>		
			</div>			
		</td>
		<td>
			<div class="item_mid span4">
				<% groups_n = group_list_for_note(note)%>
				<% groups_n.each do |gr| %>
					<%= link_to gr, :class=> "label-link" do %>
						<span class="label label-success"><%= gr.title %></span>
					<% end %>
				<% end %>
				<%= link_to note.title, note, :title => note.title %>				
			</div>	
		</td>
		<td>
			<div class="note_time hidden-phone">
				<% if note.created_at.strftime("%d %b %y") == Time.now.strftime("%d %b %y") %>
				<%= note.created_at.strftime("%H:%M") %>       		
		  		<% else %>
		  		<%= note.created_at.strftime("%d %b %y") %>
		  		<% end %>				
			</div>	
		</td>
		
	</tr>
<% end %>
</table>