
<%= form_tag multiple_action_notes_path, :class=>"multi_action_form" do %>
 <div class="navbar">
<div class="navbar-inner">
 <div class="btn-group center" >	
     <%= button_tag :name=>"search_btn", :class=>"btn search-btn" do %>
     		<i class="icon-search"></i>
     <% end %> 
     <%= button_tag :name=>"list_btn", :class=>"btn list-btn hidden-phone" do %>
     		<i class="icon-list"></i>
     <% end %>    
     <button class="btn th-btn hidden-phone"><i class="icon-th"></i></button>    
	  
	  <%= button_tag :class=>"btn add_to_group_btn",
	   :data=>{:toggle=>"popover", :content=>"#{render 'groups/add_form'}"}, :title => "Send to group" do %>
     	 <i class="icon-folder-open icon-white"></i>
	  <% end %>
	  
	  <%= button_tag :name=>"destroy_btn", :class=>"btn hidden-phone", :title=>"Delete chcked" do %>
     		<i class="icon-trash"></i>
     <% end %>
	  
	  <%= button_tag :name=>"new_btn", :class=>"btn" do %>
			<i class="icon-plus icon-white"></i>
			Add note				  
	  <% end %>  
	  <button class="btn dropdown-toggle" data-toggle="dropdown" >
			<span class="caret"></span>	  
	  </button>
	  <ul class="dropdown-menu", name="new_btn" >
	    <li><%= link_to "Save", "#", :onclick=>"$('.multi_action_form').submit()" %> </li>
		 <% group_list.each do |group| %>	    
	    <li><%= link_to group.title %> </li>
	    <% end %>
	  </ul>	
  </div>
  </div>
</div> 
<%- model_class = Note -%>
	<%= render :partial=>"notes/item" %>
<% end %>