<%= form_tag destroy_multiple_notes_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
 <div class="btn-group" >	
     <button class="btn search-btn"><i class="icon-search"></i></button>     
     <button class="btn hidden-phone" type="submit" title="Delete checked"><i class="icon-ban-circle"></i></button>		     
     <button class="btn list-btn hidden-phone"><i class="icon-list"></i></button>
	  <button class="btn th-btn hidden-phone"><i class="icon-th"></i></button>
	  <button class="btn add-btn" onClick="appendForm()">
			<i class="icon-plus icon-white"></i>
			 Add new note				  
	  </button>
	  <button class="btn dropdown-toggle" data-toggle="dropdown">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><%= link_to "Ссылка"%> </li>
	    <li><%= link_to "Текст"%> </li>
	    <li><%= link_to "Изображение"%> </li>
	  </ul>
  </div>
<%- model_class = Note -%>
<legend>Last notes</legend>
	<%= render "item" %>
<% end %>